.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.container {
  width: auto;
  max-width: 800px;
  min-width: 370px;
  border: 1px black solid;
  display: flex;
}
.celsiusContainer {
  width: auto;
  max-width: 400px;
  background-color: aqua;
  display: block;
}

.fahrenheitContainer {
  width: auto;
  max-width: 400px;
  background-color: green;
}